page-about {
    .backgroud-home {
        background: #1a0a3a;
        color: white;
        position: relative;
    }
    ion-icon {
        font-size: 25px;
        &[class*="custom-"] {
          mask-size: contain;
          mask-position: 50% 50%;
          mask-repeat: no-repeat;
          background: currentColor;
          width: 1em;
          height: 1em;
        }
      
        &[class*="custom-wet"] {
          mask-image: url(../assets/icon/wind.svg);
        }
        &[class*="custom-dry"] {
          mask-image: url(../assets/icon/dry.svg);
        }
        &[class*="custom-cherry"] {
          mask-image: url(../assets/icon/cherry.svg);
        }
        &[class*="custom-grape"] {
          mask-image: url(../assets/icon/grape.svg);
        }
        &[class*="custom-ice"] {
          mask-image: url(../assets/icon/ice.svg);
        }
        &[class*="custom-lime"] {
          mask-image: url(../assets/icon/lime.svg);
        }
      
    
    }
    .icon-active {
        height: 40px;
        width: 40px;
        background: #ff3e62;
        padding-left: 9px;
        padding-top: 7px;
        border-radius: 50%;
        position: relative;
    }

    .icon-active-icon {
        height: 40px;
        width: 40px;
        background: #ff3e62;
        padding-left: 5px;
        padding-top: 5px;
        border-radius: 50%;
        position: relative;
    }


    .icon-deactive {
        height: 40px;
        width: 40px;
        padding-left: 10px;
        padding-top: 7px;
        position: relative;
    }

    .icon-deactive-icon {
        height: 40px;
        width: 40px;
        padding-top: 5px;
        padding-left: 10px;
    }

    .icon-deactive-dry {
        height: 40px;
        width: 40px;
        padding-top: 5px;
        padding-left: 7px;
    }

    .icon-deactive-wet {
        height: 40px;
        width: 40px;
        padding-left: 6px;
        padding-top: 7px;
        position: relative;
    }
    
    .control-page {
        padding-top: 30%;
        padding-left: 3%;
    }
    .scroll-content {
        overflow: hidden;
    }
    .mid-temp {
        text-align: center;
        padding-top: 9%;
    }

    .padding-text-col {
        padding-top: 5px;
        font-size: 12.5px;
        text-align: center;
        padding-right: 30%;
    }
}