<!-- <ion-header>
  <ion-navbar>
    <ion-title>Multimedia</ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content padding class="backgroud-home" scroll="false">
    <div class="control-page">
      <ion-grid>
        <ion-row>
          <ion-col col-12>
            <h1>Mode Settings</h1>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <p style="color:#998ead;">Modes</p>
          </ion-col>
          <ion-col col-6 style="padding-left: 30%">
            <p style="color:#998ead;">Aromas</p>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-md-2.4>
            <div class="icon-active">
              <ion-icon class="icon-icon" ios="ios-sunny-outline" md="md-sunny"></ion-icon>
            </div>
            <div class="padding-text-col">
              <span style="color:#ff3e62">Heat</span>
            </div>
          </ion-col>

          <ion-col col-md-2.4>
            <div class="icon-deactive">
              <ion-icon name="snow" style="color:#6285c6"></ion-icon>
            </div>
            <div class="padding-text-col">
              <span>Cool</span>
            </div>
          </ion-col>

          <ion-col col-md-2.4></ion-col>

          <ion-col col-md-2.4>
            <div class="icon-deactive-icon">
                <ion-icon style="color:#ff3e62" class="icon-icon" name="custom-cherry" ></ion-icon>
            </div>
            <div class="padding-text-col">
              <span>Cherry</span>
            </div>
          </ion-col>

          <ion-col col-md-2.4>
            <div class="icon-active-icon" style="background:#6285c6">
              <ion-icon class="icon-icon" name="custom-ice"  >
                </ion-icon>
            </div>
            <div class="padding-text-col">
              <span style="color:#6285c6">Ice</span>
            </div>
          </ion-col>
        </ion-row>


        <ion-row>
          <ion-col col-md-2.4>
            <div class="icon-deactive-wet">
              <ion-icon name="custom-wet" style="color:#b381ff;"></ion-icon>
            </div>
            <div class="padding-text-col">
              <span>Wet</span>
            </div>
          </ion-col>

          <ion-col col-md-2.4>
            <div class="icon-deactive-dry">
                <ion-icon class="icon-icon" name="custom-dry" style="color:#00ccff" ></ion-icon>
            </div>
            <div class="padding-text-col">
              <span>Dry</span>
            </div>
          </ion-col>

          <ion-col col-md-2.4></ion-col>

          <ion-col col-md-2.4>
            <div class="icon-deactive">
                <ion-icon class="icon-icon" name="custom-grape" style="color:#b381ff" ></ion-icon>
            </div>
            <div class="padding-text-col">
              <span>Grape</span>
            </div>
          </ion-col>

          <ion-col col-md-2.4>
            <div class="icon-deactive-icon">
                <ion-icon class="icon-icon" name="custom-lime" style="color:#00ccff" ></ion-icon>
            </div>
            <div class="padding-text-col">
              <span>Lime</span>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col style="padding-top:10%">
            <p style="color:#998ead;">Temperature</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div class="mid-temp">
              <span style="font-size:100px;">19</span>
              <span style="font-size:20px;">temp</span>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-content>