<!--
  Generated template for the ModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding class="background">
  <ion-buttons end>
    <button ion-button color="dark" (click)="closeModal();">
      X
    </button>
  </ion-buttons>
  <div *ngIf="value">
    <ion-list no-lines class="background">
      <ion-item color="dark" *ngFor="let label of value.results[0].textAnnotations"> {{label.description}}</ion-item>
    </ion-list>
  </div>
</ion-content>