
      <!-- <ion-card-content>
        <ion-list no-lines>
          <ion-list-header>Result</ion-list-header> 
          <ion-item *ngFor="let label of item.results[0].textAnnotations">> {{label.description}}</ion-item> 
        </ion-list>
      </ion-card-content> -->

<ion-content padding class="background">
  <ion-slides class="image-slider" loop="false" effect="coverflow" >
    <ion-slide *ngFor="let item of items | async" >
      <img  [src]="'data:image/png;base64,'+ item.imageData" class="thumb-img" imageViewer (click)="getData(item)"/>
    </ion-slide>
  </ion-slides>
  <!--<ion-card *ngFor="let item of items | async">
    <img [src]="'data:image/png;base64,'+ item.imageData"/>
    <ion-card-content>
      <ion-list no-lines>
        <ion-list-header>Labels</ion-list-header>
        <ion-item *ngFor="let label of item.results[0].textAnnotations">{{label.description}}</ion-item>
      </ion-list>
      </ion-card-content>
  </ion-card>-->
  <ion-fab bottom center>
    <button color="gray" ion-button large round (click)="takePhoto()">
      <ion-icon  color="dark" name="camera"></ion-icon>
    </button>
  </ion-fab>
  </ion-content>