page-contact {
    .background{
        background: black;
    }
    ion-slide.swiper-slide {
        left: 25%;
    }
    
    .slide-zoom {
        background: #a1a1a1;
        border-radius: 1em;
    }
 
    .thumb-img {
        padding: 10%;
    }
}