<!-- <ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content padding class="background-home" >
  <h1>Select Climate</h1><p></p>
  <h1>Setting</h1><p></p>
  <h3 style="color : #998ead">Favorite Presets</h3>
  <!--Slides-->
  <ion-slides slidesPerView="2.5" spaceBetween="10px" style="height: 30%">
    <ion-slide>
      <div class="menu-home-active">
          <ion-icon class="icon-icon" ios="ios-sunny-outline" md="md-sunny"></ion-icon>
          <div>
              <span style="font-size:15px;">Heat</span><br>
            <span style="font-size:25px;">10°-19°</span>
          </div>
        </div>
    </ion-slide>
    <ion-slide>
      <div class="menu-home-close">
          <ion-icon style="color:#6285c6" class="icon-icon" ios="ios-snow" md="md-snow"></ion-icon>
          <div>
              <span style="color:#6285c6; font-size:15px;">Cool</span><br>
              <span style="font-size:25px;">3°-7°</span>
          </div>
        </div>
    </ion-slide>

    <ion-slide>
      <div class="menu-home-close">
        <ion-icon style="color:#b381ff" class="icon-icon" name="custom-wet" >
        </ion-icon>
        <div>
            <span style="color:#b381ff; font-size:15px;">Wet</span><br>
            <span style="font-size:25px;">7°-11°</span>
        </div>
      </div>
    </ion-slide>
    
    <ion-slide>
        <div class="menu-home-close">
          <ion-icon style="color:#00ccff" class="icon-icon" name="custom-dry"  >
          </ion-icon>
          <div>
              <span style="color:#00ccff; font-size:15px;">Dry</span><br>
          </div>
        </div>
      </ion-slide>
  </ion-slides>

  <div class="mid-temp">
      <span style="font-size:100px;">19</span>
      <span style="font-size:20px;">temp</span>
    </div>
  
  <!--wave footer-->
  <div class="wave"></div>
  <div class="wave wave1" ></div>
  <div class="wave wave2" ></div>
</ion-content>
