page-home {
.background-home{
    background: #1a0a3a;
    color: #ffffff;
}

ion-icon {
    &[class*="custom-"] {
      mask-size: contain;
      mask-position: 50% 50%;
      mask-repeat: no-repeat;
      background: currentColor;
      width: 1em;
      height: 1em;
    }
  
    &[class*="custom-wet"] {
      mask-image: url(../assets/icon/wind.svg);
    }
    &[class*="custom-dry"] {
      mask-image: url(../assets/icon/dry.svg);
    }
  }

.wave {
    opacity: 0.3;
    position: absolute;
    background: #6285c6;
    width: 900px;
    height: 900px;
    border-radius: 43%;
    transform-origin: 50% 48%;
    animation : drift 12000ms infinite linear;
    bottom: -140%;
    left: -70%;
}

.wave.wave1 {
    background: radial-gradient(circle at 100%, #415e92, #415e92 50%, rgba(0, 0, 0, 0) 100%);
    animation : drift 11500ms infinite linear;
    box-shadow: 0 50px rgba(98, 133, 198, 0.439);
}

.wave.wave2 {
    background: radial-gradient(circle at 100%, #6285c6, #6285c6 50%, rgba(0, 0, 0, 0) 100%);
    animation : drift 11000ms infinite linear;
    box-shadow: 0 50px rgba(98, 133, 198, 0.439);
}

.wave.wave3 {
    animation : drift 10500ms infinite linear;
}


@keyframes drift {
    from{transform: rotate(0deg);}
    from{transform: rotate(360deg);}
}

.menu-home-active{
    height: 170px;
    background: #ff3e62;
    border-radius: 6px;
}
.menu-home-close{
    height: 170px;
    border-style: solid;
    border-width: 2px;
    border-color: #ffffff;
    border-radius: 6px;
}

.icon-icon{
    font-size: 70px;
    
}

.control {
    padding-top: 30%;
    padding-left: 5%;
}

.scroll-content {
    overflow: hidden;
  }

.mid-temp {
    text-align: center;
    padding-top: 12%;
}
}
