<!--
  Generated template for the ProjecthomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="twitter">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <span ion-text>HISTORIAN</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="background">
  <!--Image slide-->
  <ion-slides  class="header-banner" [autoplay]="autoplay" loop="true" speed="3000">
      <ion-slide *ngFor="let img of imgData">
        <img src="{{img.src}}" />
      </ion-slide>
    </ion-slides>
    <p></p>

  <!--list of button-->
  <ion-list>
    <ion-item class="projhome-card">
        <img class="card" (click)="viewDetailNew7Wonder()" src="../../assets/imgs/7wonder_new_logo.jpg">
    </ion-item>
    <ion-item class="projhome-card">
        <img class="card" (click)="viewDetailMid7Wonder()" src="../../assets/imgs/7wonder_mid_logo.jpg">
    </ion-item>
    <ion-item class="projhome-card">
        <img class="card" (click)="viewDetailOld7Wonder()" src="../../assets/imgs/7wonder_old_logo.jpg">
    </ion-item>
  </ion-list>
  <div class="bubbles;card" back>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
    </div>
</ion-content>

