page-projecthome {
    .background {
        width: 100%;
        height: 100%;
        color: #fff;
        background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
        background-size: 400% 400%;
        -webkit-animation: Gradient 15s ease infinite;
        -moz-animation: Gradient 15s ease infinite;
        animation: Gradient 15s ease infinite;
    }
    
    @-webkit-keyframes Gradient {
        0% {
            background-position: 0% 50%
        }
        50% {
            background-position: 100% 50%
        }
        100% {
            background-position: 0% 50%
        }
    }
    
    @-moz-keyframes Gradient {
        0% {
            background-position: 0% 50%
        }
        50% {
            background-position: 100% 50%
        }
        100% {
            background-position: 0% 50%
        }
    }
    
    @keyframes Gradient {
        0% {
            background-position: 0% 50%
        }
        50% {
            background-position: 100% 50%
        }
        100% {
            background-position: 0% 50%
        }
    }
    .opacity-class{
        background-color: transparent;
    }
    

    .projhome-card{
        height:100px;
		//min-height:200px;
        background: opacify($color:#ffffff1e, $amount: -0);
        border-radius: 1em; 
        
    }

    .header-banner{
		
		height:100px;
		//min-height:200px;
        background: opacify($color: #ffffff1e, $amount: 0.5);
        border-radius: 1em; 
    }


	.slide-zoom {
		// height:200px;
		height: 100%;
		// overflow:hidden;
	}

       ion-slides {
          height: 100px;
       }

    .button-move{
        background-position-y: 100%
    }

    .body{
        margin: 0;
        padding: 0;
    }
    .bubbles{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 0;
        overflow: hidden;
        top: 0;
        left: 0;
    }
    .bubble{
        position: absolute;
        bottom: 0;
        background: #f1f1f1;
        border-radius: 50%;
        opacity: 0.5;
        animation: flying 10s infinite ease-in;
    }
    .bubble:nth-child(1){
        width: 40px;
        height: 40px;
        left: 10%;
        animation-direction: 8s;
    }
    .bubble:nth-child(2){
        width: 20px;
        height: 20px;
        left: 5%;
        animation-direction: 5s;
        animation-delay: 1s;
    }
    .bubble:nth-child(3){
        width: 50px;
        height: 50px;
        left: 15%;
        animation-direction: 10s;
        animation-delay: 2s;
    }
    .bubble:nth-child(4){
        width: 80px;
        height: 80px;
        left: 25%;
        animation-direction: 7s;
        animation-delay: 5s;
    }
    .bubble:nth-child(5){
        width: 35px;
        height: 35px;
        left: 35%;
        animation-direction: 6s;
        animation-delay: 6s;
    }
    .bubble:nth-child(6){
        width: 45px;
        height: 45px;
        left: 45%;
        animation-direction: 8s;
        animation-delay: 3s;
    }
    .bubble:nth-child(7){
        width: 25px;
        height: 25px;
        left: 55%;
        animation-direction: 7s;
        animation-delay: 4s;
    }
    .bubble:nth-child(8){
        width: 80px;
        height: 80px;
        left:60%;
        animation-direction: 6s;
        animation-delay: 1s;
    }
    .bubble:nth-child(9){
        width: 15px;
        height: 15px;
        left: 70%;
        animation-direction: 9s;
        animation-delay: 0s;
    }
    .bubble:nth-child(9){
        width: 50px;
        height: 50px;
        left: 85%;
        animation-direction: 5s;
        animation-delay: 3s;
    }
    .bubble:nth-child(10){
        width: 25px;
        height: 25px;
        left: 0%;
        animation-direction: 6s;
        animation-delay: 4s;
    }

    @keyframes flying {
        0%{bottom: -20%;
        transform: translateX(0);}
        25%{transform: translateX(10px);}
        50%{transform: translateX(100px);}
        75%{transform: translateX(-25px);}
        100%{bottom: 100%;
            transform: translateX(0);}
    }
}
