<ion-menu side="left" id="authenticated" [content]="content">
    <ion-header>
        <ion-toolbar class="user-profile">
    
          <ion-grid>
            <ion-row>
              <ion-col col-4>
                  <div class="user-avatar">
                    <img src="../assets/imgs/user.jpg">
                  </div>
              </ion-col>
              <ion-col padding-top col-8>
                <h2 ion-text class="no-margin bold text-white">
                  ภูพัฒน์ กาสา
                </h2>
                <span ion-text color="light">COMPUTER ENGINEERING</span>
              </ion-col>
            </ion-row>
          </ion-grid>
    
        </ion-toolbar>
      </ion-header>
    
  <ion-content color="twitter" class="item-trns">

        <ion-list class="user-list">
          <button ion-item menuClose class="text-1x" (click)="openPageHome()">
            <ion-icon item-left name="home" color="gray"></ion-icon>
            <span ion-text color="dark">Home</span>
          </button>

          
            <button ion-item menuClose class="text-1x" (click)="openPageYoutube()">
                <ion-icon item-left name="videocam" color="gray"></ion-icon>
                <span ion-text color="dark">Video</span>
              </button>

              <button ion-item menuClose class="text-1x" (click)="backToIonicClass()">
                  <ion-icon item-left name="log-out" color="gray"></ion-icon>
                  <span ion-text color="dark">Exit</span>
                </button>
    
        </ion-list>
    </ion-content>

    <ion-footer class="margin-center">
        <img height="50%" width="50%" src="../assets/imgs/historian.svg">
    </ion-footer>
    
</ion-menu>
    
    <ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>

