<!--
  Generated template for the New7wonderPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>7 Wonder</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="background" center text-center>
  <h3>7 สิ่งมหัศจรรย์ของโลกยุคกลาง</h3>
  <ion-list no-lines>
    <ion-item class="card">
      <img src="../../assets/imgs/7wonder_mid_logo.jpg">
    </ion-item>
    <p>7 สิ่งมหัศจรรย์ของโลกยุคกลาง (Seven Wonders of the Medieval World) ซึ่งมีอายุอยู่ในช่วงคริสตศตวรรษที่ 5 – 16</p>
    <h5>1. โคลอสเซียม (Colosseum) หรือ ทวิอัฒจันทร์ฟลาเวียน (Flavian Amphitheatre)</h5>
    <ion-item class="card">
      <img src="../../assets/imgs/7wonder_mid/Colosseum.jpg">
    </ion-item>
    <p>สนามกีฬากลางแจ้งขนาดมหึมา ตั้งตระหง่านกลางกรุงโรม ประเทศอิตาลีมาตั้งแต่ช่วงคริสตศักราชที่ 72
      สร้างเสร็จในสมัยของจักรพรรดิไททัส และกลายมาเป็นต้นแบบของสนามกีฬาในยุคปัจจุบัน
      เป็นศูนย์รวมความบันเทิงของชาวโรมันในยุคนั้น และยังเป็นสัญลักษณ์ที่ชัดเจนที่สุดของอาณาจักรโรม</p>
    <p>อัฒจันทร์ถูกสร้างเป็นรูปทรงวงรี เพื่อให้ผู้ชมมีความรู้สึกอยู่ใกล้กับตัวนักกีฬา สร้างด้วยอิฐ และหินทราย
      วัดโดยรอบได้ประมาณ 527 เมตร สูง 57 เมตร สามารถจุผู้ชมได้ประมาณ 50,000 คน
      มีการออกแบบทางระบายน้ำเพื่อไม่ให้น้ำท่วมขังในสนามขณะเกิดฝนตก ใต้อัฒจรรย์มีห้องใต้ดินที่สร้างขึ้นเพื่อขังสิงโต
      และนักโทษก่อนปล่อยให้ออกมาต่อสู้กันในสนาม นอกจากนี้ยังใช้เป็นสถานที่ประลองฝีมือของเหล่าอัศวิน และนักรบแกลดิเอเตอร์
      (Gladiator) ในยุคนั้นด้วย</p>
    <h5>2. หลุมฝังศพแห่งอเล็กซานเดรีย (The Catacombs of Kom el Shoqafa) สุสานใต้ดินเมืองอเล็กซานเดรีย ประเทศอียิปต์</h5>
    <ion-item class="card">
      <img src="../../assets/imgs/7wonder_mid/Catacombs-of-Kom-el-Shoqafa.jpg">
    </ion-item>
    <p>สถานที่ฝังพระศพของกษัตริย์อียิปต์อีกรูปแบบหนึ่งที่ไม่ใช่พีระมิด แต่จะอยู่ใต้ดินลึกเข้าไปในภูเขาหินทรายเป็นชั้นๆ
      บางตอนมีความลึกถึง 70-80 ฟุต มีทางเดินกว้าง 3-4 ฟุต ทางเดินจะวกไปเวียนมาเป็นระยะทางนับร้อยไมล์ สำหรับสุสานนี้มัถึง
      3 ชั้นด้วยกัน ชั้นที่ 1 มีไว้สำหรับเตรียมการปลงศพ ชั้นที่ 2 เป็นที่เก็บรักษา และชั้นที่ 3
      ใช้เป็นที่รวมญาติเพื่อระลึกถึงผู้ตาย</p>
    <p>ที่บรรจุดพระศพจะอยู่บนผนังอุโมงค์ที่เจาะเป็นช่องลึกเข้าไป มีแท่นบูชาและตะเกียงดวงเล็ก ๆ แขวนไว้
      และมีการตกแต่งสุสานอย่างวิจิตรงดงาม แต่ทั้งนี้ยังไม่ปรากฏว่าสุสานแห่งนี้ใครเป็นผู้สร้าง สร้างไว้ให้ผู้ใด
      และสร้างไว้ตั้งแต่เมื่อไหร่ สันนิษฐานกันว่าสร้างขึ้นในช่วงประมาณคริสตศตวรรษที่ 2</p>

    <h5>3. กำแพงเมืองจีน (Great Wall of China) ประเทศจีน</h5>
    <ion-item class="card">
      <img src="../../assets/imgs/7wonder_mid/The-Great-Wall-of-China.jpg">
    </ion-item>
    <p>หนึ่งในสิ่งมหัศจรรย์ของโลกที่เป็นที่รู้จักในวงกว้าง มีการพูดถึงเสมอๆ ไม่ว่าจะเป็นในนวนิยายหรือภาพยนต์หลายๆ เรื่อง
      เริ่มสร้างขึ้นตั้งแต่สมัยจิ๋นซีฮ่องเต้ สำหรับป้องกันการรุกรานจากชนเผ่าทางตอนเหนือ เริ่มต้นสร้างประมาณปีพ.ศ.338
      การก่อสร้างกินเวลายาวนานต่อมาเรื่อยๆ อีกหลายรัชสมัย</p>
    <p>ถึงปัจจุบัน กำแพงเมืองจีนยังคงครองตำแหน่งกำแพงอิฐที่มีความยาวที่สุดในโลก จากการสำรวจพบว่ายาวประมาณ 22,000
      กิโลเมตรเลยทีเดียว ความสูงประมาณ 8-9 เมตร ความกว้างตั้งแต่ 4.5 เมตร ถึง 7.5 เมตร เพียงพอให้ทหารม้ายืนเข้าแถวเรียง
      8 สบายๆ มีป้อมรักษาการทุกๆ 200 เมตร และมีระฆังแขวน เพื่อตีบอกสัญญาณเกิดเหตุไว้ประจำทุกหอ รวมทั้งหมดมีไม่ต่ำกว่า
      20,000 หอ</p>

    <h5>4. สโตนเฮนจ์ (Stonehenge) ประเทศอังกฤษ</h5>
    <ion-item class="card">
      <img src="../../assets/imgs/7wonder_mid/Stonehenge-02.jpg">
    </ion-item>
    <p>หนึ่งในโบราณสถานลึกลับที่ยังคงหาคำตอบที่แน่ชัดไม่ได้ ว่าใครเป็นผู้สร้าง สันนิษฐานว่าสร้างขึ้นในช่วง 2,000 – 3,000
      ปีก่อนคริศตกาล ตั้งอยู่กลางทุ่งราบซัลลิสเบอร์รี (Salisbury Plain) ห่างจากลอนดอนไปเพียง 10 ไมล์ กองหินสโตนเฮนจ์
      ประกอบไปด้วยก้อนหินทรงสูงขนาดใหญ่จำนวน 112 ก้อนวางตั้งเรียงเป็นรูปวงกลมซ้อนกันสามวง บางก้อนล้มนอน
      บางก้อนวางทับซ้อนอยู่บนยอด วงหินรอบนอกมีเส้นผ่าศูนย์กลางถึง 100 ฟุต มีน้ำหนักกว่า 30 ตัน</p>
    <p>ที่แปลกก็คือแถบนี้เป็นทุ่งราบกว้างใหญ่ ไม่มีร่องรอยการขนก้อนหินหนักเป็นตันมาตั้งไว้ตรงนี้เลย
      แถมยังวางซ้อนกันได้ด้วย สันนิษฐานกันว่ามันถูกสร้างขึ้นเพื่อประกอบพิธีกรรมทางศาสนา หรือเพื่อใช้ดูตำแหน่งดวงดาว
      และฤดูกาล</p>

    <h5>5. เจดีย์กระเบื้องเคลือบ เมืองนานกิง (Porcelain Tower of Nanjing) ประเทศจีน</h5>
    <ion-item class="card">
      <img src="../../assets/imgs/7wonder_mid/Porcelain-Tower-of-Nanjing-02.jpg">
    </ion-item>
    <p>น่าจะเป็นสิ่งมหัศจรรย์ของโลกยุคกลางเพียงแห่งเดียวที่ถูกทำลายไปจนหมดสิ้นแล้ว
      ในช่วงเหตุการณ์กบฏไท่ผิงในราวคริสตศตวรรษที่ 19
      ส่วนเจดีย์ที่เราเห็นในปัจจุบันเป็นหอที่ถูกสร้างขึ้นมาใหม่แทนที่แล้วในปี ค.ศ. 2010</p>
    <p>เจดีย์กระเบื้องเคลือบเมืองนานกิงนี้สร้างขึ้นเมื่อคริสตศตวรรษที่ 15 สมัยราชวงศ์หมิง เจดีย์ทรงแปดเหลี่ยมจำนวน 9
      ชั้น ความสูงประมาณ 79 เมตร ตัวเจดีย์สร้างด้วยอิฐและกระเบื้องเคลือบ ชายคาแขวนกระดิ่ง 80 ลูกโดยรอบ
      องค์เจดีย์ก่ออิฐประดับกระเบื้องเคลือบ ยอดแหลมเป็นทรงกลมต่อขึ้นไปเคลือบทอง</p>

    <h5>6. หอเอนเมืองปิซา (Leaning Tower of Pisa) ประเทศอิตาลี</h5>
    <ion-item class="card">
      <img src="../../assets/imgs/7wonder_mid/Leaning-Tower-of-Pisa.jpg">
    </ion-item>
    <p>หอเอนเมืองปิซา อยู่บริเวณจัตุรัสเปียซซา เดล ดูโอโม (Piazza Del Duomo) สร้างด้วยหินอ่อนสูง 8 ชั้น น้ำหนักรวมประมาณ
      14,500 ตัน เริ่มก่อสร้างปี ค.ศ. 1173 แต่เมื่อสร้างถึงชั้นที่ 3 ฐานด้านหนึ่งของหอเริ่มมีการยุบตัว
      สถาปนิกจึงพยายามสร้างต่อโดยให้หอเอนกลับไปอีกด้านหนึ่งเพื่อถ่วงสมดุล แต่อีกไม่นานการก่อสร้างก็ชะงักเนื่องจากสงคราม
      โดยสรุปก็สร้างสำเร็จในปี ค.ศ.1372 (รวมส่วนของหอระฆังด้วย) สิริเวลาในการสร้างทั้งหมด 177 ปี</p>

    <h5>7. ฮาเกียโซเฟีย (Mosque of Hagia Sophia) แห่งคอนสแตนติโนเปิล (ปัจจุบันคือ กรุงอีสตันบูล) ประเทศตุรกี</h5>
    <ion-item class="card">
      <img src="../../assets/imgs/7wonder_new/Colosseum.jpg">
    </ion-item>
    <p>ฮาเกียโซเฟีย มหาวิหารสถาปัตยกรรมแบบไบแซนไทน์ ที่เคยเป็นโบสถ์ที่ใหญ่ที่สุดในโลกมาเกือบพันปี
      ปัจจุบันนี้ยังคงได้รับการรักษาไว้เป็นพิพิธภัณฑ์
      แต่ก่อนหน้านั้นฮาเกียโซเฟียถูกปรับเปลี่ยนสถานะไปมามากมายตามแต่สถานการณ์ และผู้ปกครองในแต่ละยุค ตั้งแต่ ค.ศ.
      532-537 ที่นี่เป็นโบสถ์ศูนย์กลางของนิกายอีสเทิร์นออร์ทอดอกซ์ ต่อมาปี ค.ศ. 1453 ก็ถูกดัดแปลงให้เป็นสุเหร่า จนถึงปี
      ค.ศ. 1935 รัฐบาลตุรกีจึงได้เปลี่ยนจากสุเหร่ามาเป็นพิพิธภัณฑ์</p>
    <p>ฮาเกียโซเฟีย มีเนื้อที่ 700 ตารางเมตร มีเสาสลักอย่างงดงามถึง 108 ต้น ประดับประดาด้วยกระจกหลากสี
      และยอดโดมขนาดใหญ่กลางวิหาร ด้วยความที่เป็นการผสมผสานระหว่างศิลปะแบบคริสเตียน
      และอิสลามนี่เองจึงทำให้ที่มีมีความงามในแบบที่หาชมที่อื่นไม่ได้จริงๆ</p>

  </ion-list>
  <p>ข้อมูลจาก : TrueID Lifestyles : travel.trueid.net</p>

</ion-content>