<!--
  Generated template for the YoutubelistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Video</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="background">
  <ion-card *ngFor="let item of posts">
    <ion-card-title>
      {{item.snippet.title}}
    </ion-card-title>
    <ion-card-content class="ytcard">
      <iframe width="100%" height="315" frameborder="0" [src]="item.id.videoId | youtube" allowfullscreen></iframe>
    </ion-card-content>

  </ion-card>
</ion-content>