<!--
  Generated template for the New7wonderPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>7 Wonder</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="background" center text-center>
  <h3>7 สิ่งมหัศจรรย์ของโลกยุคเก่า</h3>
  <ion-list no-lines>
    <ion-item class="card">
      <img src="../../assets/imgs/7wonder_old_logo.jpg">
    </ion-item>
    <p>สำหรับสิ่งมหัศจรรย์ของโลกยุคโบราณนั้นจะอยู่ในช่วงประมาณ 5,000 ปีก่อนคริสตกาล ถึงปีคริสตศักราช 500
      โดยเรื่องราวของสิ่งเหล่านี้ถูกพบเป็นครั้งแรกในงานเขียนของกวีชาวกรีก นามว่า แอนติเพเตอร์แห่งไซดอน (Antipator of
      Saidon) ซึ่งนับเป็นการจัดทำบัญชี 7 สิ่งมหัศจรรย์ของโลกเป็นบัญชีแรกของมนุษยชาติอีกด้วย
      แต่ส่วนใหญ่เป็นสิ่งก่อสร้างในแถบเมดิเตอเรเนียนตะวันออก (เชื่อว่าน่าจะเพราะยังไม่มีการเดินเรือไปยังทวีปอื่นๆ
      แพร่หลายเท่ายุคถัดมา) มีทั้งหมด ดังนี้</p>
    <h5>1. มหาพีระมิดแห่งกีซา (The Great Pyramid of Giza)</h5>
    <ion-item class="card">
      <img src="../../assets/imgs/7wonder_old/Pyramide_Kheops.jpg">
    </ion-item>
    <p>มหาพีระมิดของกษัตริย์คูฟู ริมฝั่งตะวันตกของแม่น้ำไนล์ในอียิปต์ มีอายุราว 2,690 ปีก่อนคริสตกาล หรือเก่าแก่กว่านั้น
      เป็นสิ่งมหัศจรรย์เพียงอย่างเดียวที่เก่าแก่ที่สุด และยังคงตั้งอยู่จนยืนยงจนปัจจุบัน
      ใช้สำหรับเป็นที่เก็บรักษาพระศพฟาโรห์คูฟู (Khufu) สร้างขึ้นด้วยก้อนหินทรายทรงสี่เหลี่ยมประกอบกันกว่า 2.3 ล้านก้อน
      สร้างยาวนานกว่า 20 ปี ใช้แรงงานไม่ต่ำกว่า 100,000 ชีวิต</p>
    <p>ปัจจุบันวิธีการสร้างพีระมิดแห่งกีซายังคงเป็นปริศนา ด้วยความที่หินแต่ละก้อนมีน้ำหนักหลายตัน
      (ชิ้นที่ใหญ่ที่สุดหนักถึง 200 เมตริกตัน หนักเท่าชิ้นส่วนเรือไททานิค) แต่เทคโนโลยีในขณะนั้นยังไม่มีระบบปั้นจั่น
      ไม่รู้จักแม้กระทั่งล้อเลื่อน มีเพียงหลักฐานเป็นภาพแกะสลักนูนต่ำบนฝาผนังหิน
      ซึ่งแสดงการเคลื่อนย้ายเทวรูปหินขนาดใหญ่ด้วยแรงคนนับร้อยลากเข็นไปบนแคร่ไม้ ใช้การราดน้ำเพื่อช่วยลดแรงเสียดทาน
      แต่นั่นยังไม่สามารถตอบเราได้ว่าพวกเขาใช้วิธีใดลำเลียงหินขึ้นสู่บริเวณก่อสร้างในระดับสูงขึ้นเรื่อยๆ จนเทียบเท่าตึก
      40 ชั้นในยุคปัจจุบันได้
      ถึงขนาดที่มีทฤษฎีว่าพีระมิดแห่งเมืองอียิปต์นั้นอาจจะไม่ใช่ฝีมือของมนุษย์ในสมัยของอียิปต์โบราณ
      แต่อาจจะเป็นฝีมือของชาวแอตแลนติส หรือไม่ก็ มนุษย์ต่างดาว นั่นเลย</p>
    <h5>2. สวนลอยแห่งบาบิโลน (HANGING GARDENS OF BABYLON)</h5>
    <ion-item class="card">
      <img src="../../assets/imgs/7wonder_old/Hanging_Gardens_of_Babylon.jpg">
    </ion-item>
    <p>สวนลอยแห่งนี้สร้างโดยพระเจ้าเนบูคาดเนสซาร์ที่ 2 ประมาณ 605-562 ปีก่อนคริสตกาล
      ปัจจุบันไม่ปรากฏหลักฐานหรือแม้แต่ซากปรักให้เห็น แต่คาดว่าน่าจะอยู่บริเวณเดียวกับกรุงบาบิโลน เมืองมาฮาวีล
      (Mahaweel) ประเทศอิรัก</p>
    <p>มีการบรรยายถึงสวนแห่งนี้ไว้ว่ามีพื้นที่กว่า 400 ตารางฟุต สร้างสูงขึ้นไปเป็นชั้นๆ อุดมไปด้วยต้นไม้ดอกไม้นานาพันธุ์
      มีระบบชักรอกเพื่อรถน้ำต้นไม้จากชั้นบน แล้วปล่อยให้ไหลลงตามชั้นต่างๆ พระเจ้าเนบูคาดเนสซาร์ที่
      2ทรงให้สร้างไว้เพื่อเป็นอุทยานพักผ่อนของพระมเหสีของพระองค์ เพื่อบรรเทาความคิดถึงบ้านเกิดของพระนาง</p>

    <h5>3. เทวรูปซูสที่โอลิมเปีย (The Statue of Zeus at Olympia)</h5>
    <ion-item class="card">
      <img src="../../assets/imgs/7wonder_old/Zeus_Olympien.jpg">
    </ion-item>
    <p>หากเทวรูปนี้ยังอยู่ถึงปัจจุบัน มันจะต้องเป็นสิ่งก่อสร้างเกี่ยวกับเทพเจ้าที่วิจิตรอลังการที่สุดอย่างแน่นอน
      เทวรูปซูสตั้งอยู่ในประเทศกรีซ สร้างเมื่อประมาณ 462 ปีก่อนคริสตกาล โดยช่างแกะสลักชาวกรีกที่มีชื่อที่สุดแห่งยุคโบราณ
      นามฟิดิแอส (Phidias) มีความสูง 12 เมตร ประทับนั่งอยู่บนบัลลังค์ ประดับประดาด้วยงาช้าง ทองคำ ผ้าไหม ฯลฯ
      สร้างไว้ในวิหารซุส (Temple of Zeus) ซึ่งภายหลังถูกไฟไหม้เสียหายจนหมดสิ้น เหลือเพียงซากที่อยู่ในเขตเมืองโอลิมเปีย
      ประเทศกรีซ</p>

    <h5>4. วิหารอาร์ทิมีส (The Temple of Artemis at Ephesus)</h5>
    <ion-item class="card">
      <img src="../../assets/imgs/7wonder_old/Temple_of_Artemis.jpg">
    </ion-item>
    <p>ตั้งอยู่ที่เมืองเอฟิซุส ประเทศตุรกีในปัจจุบัน สร้างขึ้นเมื่อประมาณ 550 ปีก่อนคริสตกาล
      สร้างขึ้นเพื่อถวายเทพีอาร์ทิมิส ซึ่งเป็นเทพที่พวกนายพรานเคารพบูชา
      ว่ากันว่าวิหารแห่งนี้มีสถาปัตยกรรมที่งดงามหาที่เปรียบมิได้ที่สุดในยุคนั้น</p>
    <p>ที่นี่ถูกเผาทำลายอยู่หลายครั้ง ครั้งแรกในวันที่ 21 กรกฎาคม 356 ปีก่อนคริสตกาล
      ซึ่งตรงกับวันประสูติของอเล็กซานเดอร์มหาราช ซึ่งในภายหลังพระองค์ก็ต้องการที่จะบูรณะวิหารนี้ขึ้นมา
      แต่ชาวเมืองก็ปฎิเสธ และเลือกที่จะบูรณะกันใหม่เองโดยลดขนาดวิหารให้เล็กลง
      ต่อมาก็ถูกทำลายอีกโดยพวกโกธส์จากเยอรมันที่บุกเข้ามาโจมตี เมื่อปี ค.ศ. 262 จนต้องบูรณะกันอีกครั้ง
      สุดท้ายวิหารก็ถูกทำลายอีกโดยกลุ่มชาวคริสต์ นำโดย Saint John Chrysostom ในปีค.ศ.401
      ปัจจุบันหลงเหลือเพียงซากเสาเท่านั้น</p>

    <h5>5. สุสานแห่งฮาลิคาร์นัสซัส (Mausoleum at Halicarnassus)</h5>
    <ion-item class="card">
      <img src="../../assets/imgs/7wonder_old/Mausoleum-at-Halicarnassus_dw.jpg">
    </ion-item>
    <p>ตั้งอยู่ในเมืองโบดรุม (Bodrum) ประเทศตุรกี สร้างขึ้นเมื่อ 351 ปีก่อนคริสตกาล โดยพระดำริของราชินีอาร์เทมิเซีย
      (Artemisia) เพื่อเป็นอนุสรณ์สถานแก่พระสวามี กษัตริย์มอโซลุสแห่งคาเรียที่สวรรคตเมื่อ 353 ปีก่อนคริสตกาล
      ถูกทำลายโดยแผ่นดินไหว ปัจจุบันหลงเหลือเพียงชากปรักหักพัง และซากของรูปปั้นต่างๆ ที่ใช้ประดับสุสาน</p>

    <h5>6. เทวรูปโคโลสซูสแห่งเกาะโรดส์ (Colossus of Rhodes)</h5>
    <ion-item class="card">
      <img src="../../assets/imgs/7wonder_old/Colossus-of-Rhodes.jpg">
    </ion-item>
    <p>ตั้งอยู่ในทะเลเอเจียน ประเทศกรีซ เป็นรูปสำริดขนาดใหญ่ของสุริยเทพ หรือเฮลิออส (Apollo) สูงประมาณ 33 เมตร
      ก่อสร้างระหว่าง 292-280 ปีก่อนคริสตกาล ตั้งตระหง่านบริเวณปากอ่าวของเกาะโรดส์
      ถูกทำลายโดยแผ่นดินไหวหลังการสร้างเพียง 56 ปี
      ถึงกระนั้นซากของเทวรูปนี้ก็ยังเป็นจุดแลนด์มาร์คของผู้คนในแถบนี้ต่อมาถึง 800 ปี
      ในประวัติศาสตร์มีบันทึกว่าแค่ส่วนนิ้วของรูปปั้นนี้ก็มีขนาดใหญ่กว่าไซส์รูปปั้นปกติของยุคนั้นแล้ว</p>

    <h5>7. ประภาคารฟาโรส แห่ง อเล็กซานเดรีย (Lighthouse of Alexandria)</h5>
    <ion-item class="card">
      <img src="../../assets/imgs/7wonder_old/Lighthouse-Pharos.jpg">
    </ion-item>
    <p>ประภาคารยักษ์ที่เมืองอเล็กซานเดรีย ประเทศอียิปต์ สมัยพระเจ้าปโตเลมี ประมาณ 280 ปีก่อนคริสตกาล
      ว่ากันว่ามันสูงมากจนสามารถมองเห็นได้ไกล 35 ไมล์ ถูกทำลายโดยสิ้นเชิงจากเหตุแผ่นดินไหวในช่วงคริสตศตวรรษที่ 14</p>


  </ion-list>
  <p>ข้อมูลจาก : TrueID Lifestyles : travel.trueid.net</p>

</ion-content>