<!--
  Generated template for the New7wonderPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>7 Wonder</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="background" center text-center>
  <h3>7 สิ่งมหัศจรรย์ของโลกยุคใหม่</h3>
  <ion-list no-lines>
    <ion-item class="card">
      <img src="../../assets/imgs/7wonder_new_logo.jpg">
    </ion-item>
    <p> New 7 Wonders of the World โดยองค์กรของสวิตซ์ The New Open World Corporation (NOWC)
      สรุปสุดท้ายได้ประกาศเมื่อวันที่ 7 กรกฎาคม พ.ศ. 2550 ที่กรุงลิสบอน ประเทศโปรตุเกส ได้แก่</p>
    <h5>1.ชีเชน อิตซา(Chichen Itza) : เม็กซิโก</h5>
    <ion-item class="card">
      <img src="../../assets/imgs/7wonder_new/Chichen_Itza.jpg">
    </ion-item>
    <p><strong>ชีเชนอิตซา</strong> เป็นภาษามายา แปลว่า ต้นทางแห่งความสุขสบายของประชาชน
      ตั้งอยู่ทางภาคตะวันออกเฉียงใต้ของประเทศเม็กซิโก
      เป็นแหล่งโบราณคดีที่สร้างขึ้นโดยชาวมายันซึ่งสร้างขึ้นเพื่อเป็นอนุสรณ์ของเทพเจ้า</p>
    <p><strong>ชีเชนอิตซา</strong> มีรูปทรงเป็นสามเหลี่ยมลดขั้นเป็นชั้นๆ พื้นที่ราว 6.4 ตารางกิโลเมตร
      วิหารที่ใหญ่สุดมีชื่อว่า วิหารแห่งนักรบ สร้างขึ้นในคริสต์ศตวรรษที่ 12 หลังจากสร้างวิหารเก่าแห่งชักโมล
      ตรงกลางสร้างเป็นปราสาทเหลี่ยมทึบสูงขึ้นไป ใช้เป็นที่ทำพิธีสังเวยเทพเจ้าโดยใช้เด็กสาวโยนลงไปถวายเทพเจ้า ณ ที่นั้น
      นอกจากนี้ในส่วนของพีระมิดแห่งเทพเจ้าคูคุลคาน ซึ่งถือเป็นพีระมิดแห่งสุดท้าย
      และเป็นพีระมิดที่กล่าวได้ว่ายิ่งใหญ่ที่สุดของอารยธรรมมายาด้วย</p>
    <h5>2.คริชตู เรเดงโตร์ Cristo Redentor
      หรือ Christ the Redeemer : บราซิล</h5>
    <ion-item class="card">
      <img src="../../assets/imgs/7wonder_new/Cristo_Redentor.jpg">
    </ion-item>
    <p><strong>รูปปั้นพระเยซูคริสต์</strong> ตั้งอยู่ที่ยอดเขากอร์โกวาดู ประเทศบราซิล
      นอกจากจะเป็นสิ่งก่อสร้างที่มีความหมายถึงศรัทธาที่ยิ่งใหญ่ ยังเป็นสัญลักษณ์ที่ทำให้เมืองริโอ เดอ จาเนโร
      โด่งดังไปทั่วโลกอีกด้วย</p>
    <p>รูปปั้นพระคริสต์นี้มีความสูงถึง 38 เมตร ได้รับการออกแบบโดยเอโตร์ ดา ซิลวา กอชตา ชาวบราซิล และสร้างโดยปอล
      ลันดอฟสกี ประติมากรชาวฝรั่งเศสถึง 5 ปีด้วยกัน ที่นี่ถือเป็นอนุสาวรีย์ที่มีชื่อเสียงมากที่สุดแห่งหนึ่งของโลก
      และเป็นที่ยึดเหนี่ยวทางจิตใจของชาวบราซิลอีกด้วย ทำให้ในแต่ละปีจะมีนักท่องเที่ยวเดินทางมายังสถานที่แห่งนี้ราว 1.8
      ล้านคนทีเดียว</p>

    <h5>3. กำแพงเมืองจีน
      Great Wall of China : จีน</h5>
    <ion-item class="card">
      <img src="../../assets/imgs/7wonder_new/Great_Wall.jpg">
    </ion-item>
    <p><strong>กำแพงเมืองจีน</strong> นี้สร้างขึ้นจีนสมัยสมัยราชวงศ์ฉิน เพื่อป้องกันการรุกรานจากชนเผ่ามองโกล
      และเติร์กในอดีต และหลังจากนั้นยังมีการสร้างกำแพงต่ออีกหลายครั้งด้วยกัน มีความยาวทั้งสิ้นกว่า 21,196.18 กิโลเมตร
      ครอบคลุมพื้นที่ 15 มณฑลทั่วประเทศ ถือเป็นสิ่งก่อสร้างโดยฝีมือมนุษย์ที่ยาวที่สุดในโลกเท่าที่เคยมีมา ความยิ่งใหญ่
      และประวัติศาสตร์อันยาวนานนี่เอง ทำให้กำแพงเมืองจีนนอกจากจะเป็น 1 ใน 7 มหัศจรรย์ของโลกแล้ว ยังเป็น 1 ในมรดกโลก
      ที่องค์กร UNESCO คัดเลือกอีกด้วย</p>

    <h5>4. มาชูปิกชู
      Machu Picchu : เปรู</h5>
    <ion-item class="card">
      <img src="../../assets/imgs/7wonder_new/Machu_Picchu.jpg">
    </ion-item>
    <p><strong>เมืองสาบสูญแห่งอินคา</strong> หรือ <strong>มาชูปิกชู</strong> แห่งนี้ เป็นซากอารยธรรมโบราณของชาวอินคา
      ตั้งอยู่บนเทือกเขาสูงในประเทศเปรู อยู่สูงกว่าระดับน้ำทะเลถึง 2,350 เมตร
      ที่ตั้งของเมืองนี้ค่อนข้างกันดารยากที่จะเข้าถึง เพราะตั้งอยู่บนที่ราบสูงแอนดิส
      ลึกเข้าไปในป่าอเมซอนและอยู่เหนือแม่น้ำอุรุบัมบา หลังจากอาณาจักรอินคาล่มสลายจากการพ่ายแพ้สงครามให้กับชาวสเปน
      และโรคระบาด เมืองแห่งนี้ก็ได้หายสาบสูญไปกว่า 3 ศตวรรษ และได้ถูกค้นพบโดยนักโบราณคดีชาวอมเริกัน ไฮแรม บิงแฮม
      ในปีค.ศ. 1911</p>
    <p>นอกจากนี้ มาชูปิกชู เป็นหลักฐานที่สำคัญของจักรวรรดิอินคา องค์กร UNESCO จึงได้กำหนดให้ มาชูปิกชูเป็นมรดกโลก
      โดยเป็นสถานที่ท่องเที่ยวที่คนนิยมไปศึกษาประวัติศาสตร์</p>

    <h5>5. นครเปตรา
      Petra : จอร์แดน</h5>
    <ion-item class="card">
      <img src="../../assets/imgs/7wonder_new/Petra.jpg">
    </ion-item>
    <p><strong>นครเปตรา</strong> ซ่อนตัวอย่างลึกลับในหุบเขาวาดี มูซา หุบเขาที่ตั้งอยู่ระหว่างทะเลสาบเดดซี
      กับทะเลอัคบาในประเทศจอร์แดน นครนี้ในสมัยโบราณนั้นเป็นนครแห่งการค้าขนาดใหญ่
      เป็นเมืองหลวงของชนเผ่านาบาเชียนซึ่งเป็นชนเผ่าที่อาศัยอยู่ทางตอนใต้ของประเทศจอร์แดนในสมัยก่อน
      และถูกละทิ้งเป็นเวลานานกว่า 700 ปี ซึ่งได้ถูกค้นพบโดยนักสำรวจชาวสวิตเซอร์แลนด์ โจฮันน์ ลุควิก เบิร์กฮาร์ท ในปี
      ค.ศ. 1812</p>
    <p>ชาวนาบาเชียนสร้างเมืองแห่งนี้โดยใช้วิธีการแกะสลักหินให้เป็นช่องอุโมงค์
      โรงละครของเมืองแห่งนี้ซึ่งเป็นต้นแบบของโรงละครแบบกรีก-โรมัน ส่วนหน้าของวิหารเอล เดียร์ ซึ่งสูง 42 เมตร
      ในเมืองแห่งนี้เป็นตัวอย่างที่ดีอีกแห่งหนึ่งของสถาปัตยกรรมแบบกรีกโบราณ ทำให้นครเปตราได้รับลงทะเบียนจากองค์กร UNESCO
      ให้เป็นมรดกโลกเมื่อปี พ.ศ. 2528</p>

    <h5>6. โคลอสเซียม
      Colosseum : อิตาลี</h5>
    <ion-item class="card">
      <img src="../../assets/imgs/7wonder_new/Colosseum.jpg">
    </ion-item>
    <p><strong>โคลอสเซียม</strong> เป็นสนามกีฬาโบราณที่ยิ่งใหญ่ที่สุดในขณะนั้น
      สนามกีฬากลางแจ้งขนาดใหญ่ตั้งอยู่ใจกลางกรุงโรมนี้ เริ่มสร้างขึ้นในสมัยจักรพรรดิเวสเปเซียน แห่งจักรวรรดิโรมัน
      และสร้างเสร็จในสมัยของจักรพรรดิไททัส ใช้เวลาการก่อสร้างถึง 10 ปีด้วยกัน ที่แห่งนี้มีห้องสำหรับขังทาส นักโทษ
      และสัตว์ดุร้าย เช่น สิงโต เสือ โดยจะให้ทาสสู้กันเองจนกว่าจะเหลือผู้รอดชีวิตเพียงคนเดียว หรือให้สู้กับสิงโต
      เพื่อเป็นความบันเทิงให้แก่ผู้ชม ผู้ที่รอดตายจากการต่อสู้จึงจะได้รับอิสรภาพ</p>
    <p>โคลอสเซียม เป็นรูปวงกลมก่อด้วยอิฐ และหินทราย วัดโดยรอบได้ประมาณ 527 เมตร สูง 57 เมตร สามารถจุผู้ชมได้ประมาณ
      50,000 คน นอกจากนี้ยังมีการออกแบบอย่างชาญฉลาด โดยสร้างให้สนามกีฬามีลักษณะเป็นรูปวงรี
      เพื่อให้ผู้ชมรู้สึกเข้าใกล้นักกีฬา และมีการออกแบบทางระบายน้ำเพื่อไม่ให้น้ำท่วมขังในสนามขณะเกิดฝนตกอีกด้วย
      โคลอสเซียมจึงกลายเป็นต้นแบบของสนามกีฬาต่างๆ ในปัจจุบัน</p>

    <h5>7. ทัชมาฮาล
      Taj Mahal : อินเดีย</h5>
    <ion-item class="card">
      <img src="../../assets/imgs/7wonder_new/Colosseum.jpg">
    </ion-item>
    <p><strong>สุสานหินอ่อน</strong> ทัชมาฮาล แห่งนี้
      ผู้คนเชื่อว่าเป็นสถาปัตยกรรมแห่งความรักที่สวยที่สุดในโลกที่สร้างขึ้นโดยสมเด็จพระจักรพรรดิแห่งจักรวรรดิโมกุล
      ผู้มีรักมั่นคงต่อพระมเหสีของพระองค์</p>
    <p>ทัชมาฮาล ตั้งอยู่ในสวนริมฝั่งแม่น้ำยมุนา ในเมืองอาครา ส่วนที่มีชื่อเสียงที่สุด คือ หลุมศพของพระนางมุมตัซ มาฮาล
      ซึ่งถูกสร้างด้วยหินอ่อนสีขาว ศิลาแลง ประดับลวดลายเครื่องเพชร พลอย หิน โมราและเครื่องประดับจากมิตรประเทศ
      ได้รับคำรับรองว่าสร้างขึ้นด้วยสัดส่วนที่วิจิตรและงดงามที่สุด
      รวมถึงยังได้รับการยกย่องว่าเป็นตัวอย่างชั้นเลิศของสถาปัตยกรรมมุฆัลในอินเดีย ที่นี่ต้องใช้แรงงานในการก่อสร้างถึง
      20,000 คน และใช้เวลาก่อสร้างถึง 20 ปี</p>


  </ion-list>
  <p>ข้อมูลจาก : TrueID Lifestyles : travel.trueid.net</p>

</ion-content>